.Container
{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    /* height: 1000px; */
    /* background-color: red; */
}

.grid
{
    /* border: 0.1px solid green; */

    width: calc(100%/10); 
    /* padding-top: 100px; */
    aspect-ratio: 1 / 1;
    /* height: calc(100%/10); */
    /* position: absolute; */
    /* height: 100px; */
    box-sizing: border-box;
    /* margin: ; */
}